@font-face {
	font-family: 'Gibson';
/*	src: url(font/Fontspring-DEMO-gibson-bold.otf);*/
	src: url(font/Fontspring-DEMO-gibson-medium.otf);
}

* {
	padding: 0;
	margin: 0;
	font-family: "Arial";
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	background-color: #EFEFEF;
	overflow-x: hidden;
}

header {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 70px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 99;
	-webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}

div.sidebaricon-div {
	width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    padding: 13px;
    margin: 0px 20px;
    background-color: none;
    display: none;
    transition: 150ms;
}

div.sidebaricon-div:active {
	background-color: #eee;
}

#sidebar-icon {
	filter: invert(1) brightness(0.3);
}

#blackdrop {
	display: none;
	background-color: black;
	opacity: 0.3;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 97;
}

nav.sidebar {
	background: rgb(31,211,211);
	background: linear-gradient(90deg, rgba(31,211,211,1) 0%, rgba(43,148,158,1) 100%);
    top: 69px;
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 98;
    transition: ease-out 200ms;
}

img.header {
	height: 60px;
	transition: ease-in 300ms;
}

ul.menu-principal {
	display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}


ul.menu-principal li {
	list-style: none;
	margin: 0px 3px;
}

ul.menu-principal li a {
	color: #4c7c90;
	font-family: 'Arial';
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: ease-in 150ms;
}

ul.menu-principal li a:hover {
	background: rgb(31,211,211);
	background: linear-gradient(90deg, rgba(31,211,211,1) 0%, rgba(43,148,158,1) 100%);
	color: white;
	cursor: pointer;
}

#menu-sidebar {
	opacity: 0;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}

#menu-sidebar li {
	list-style: none;
    margin: 15px 0px;
    border-bottom: 1px solid rgb(55 227 227);
    padding: 12px 0px;
}

#menu-sidebar li a {
	color: #fff;
	width: 100%;
	font-family: 'Arial';
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    margin-left: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: ease-in 150ms;
}

#menu-sidebar li a:active {
	background: #fff;
	color: rgb(31,211,211);
	cursor: pointer;
}


main {
	padding-top: 70px;
	width: 100%;
}

.banner {
	width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: ease-in 300ms;
}

h1.title {
	font-size: 28px;
	color: #01426A;
	font-weight: 100;
	margin: 15px 0px;
	margin-top: 50px;
}

p {
	color: #777777;
    font-size: 15px;
    margin: 0;
}

section {
	padding: 80px 30px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	max-width: 1290px;
}

img.main {
	width: 100%;
}

#footer {
	min-height: 180px;
	width: 100%;
	background: #01426A;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1140px;
	}
}

@media (min-width: 992px) {
	.container {
	    max-width: 960px;
	}
	section {
		padding: 80px 50px;
	}
}

@media (min-width: 768px) {
	.container {
	    max-width: 720px;
	}
}

@media (min-width: 576px) {
	.container {
	    max-width: 540px;
	}
}

/* Mobile */

@media (max-width: 860px) {

	header {
		justify-content: flex-start;
	}

	img.header {
		margin: 0px auto;
    	transform: translateX(-40px);
	}

	div.sidebaricon-div {
		display: flex;
	}

	ul.menu-principal {
	    display: none;
	}

	.banner {
		height: 400px;
	}
}

