@font-face {
	font-family: 'BentonSans';
	src: url(font/BentonSans-Bold.otf);
}

* {
	padding: 0;
	margin: 0;
	font-family: "Arial";
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	background-color: #f6f6f6;
	overflow-x: hidden;
}

.scrollTop {
	position: fixed;
	opacity: 0.6;
    right: 30px;
    bottom: 50px;
    background: rgb(31,211,211);
    background: linear-gradient(180deg, rgba(31,211,211,1) 0%, rgba(43,148,158,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: 96;
    cursor: pointer;
    transition-duration: 300ms;
}

.scrollTop:hover {
	opacity: 0.9;
}

.scrollTop:hover #arrowtop {
	height: 15px;
}

#arrowtop {
	filter: invert(1) brightness(2);
	height: 14px;
	margin-bottom: 5px;
	transition-duration: 150ms;
}

header {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 70px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 99;
	-webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}

div.sidebaricon-div {
	width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    padding: 13px;
    margin: 0px 20px;
    background-color: none;
    display: none;
    transition: 150ms;
}

div.sidebaricon-div:active {
	background-color: #eee;
}

#sidebar-icon {
	filter: invert(1) brightness(0.3);
}

#blackdrop {
	display: none;
	background-color: black;
	opacity: 0.3;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 97;
}

nav.sidebar {
	background: rgb(31,211,211);
	background: linear-gradient(180deg, rgba(31,211,211,1) 0%, rgba(43,148,158,1) 100%);
    top: 69px;
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 98;
    transition: ease-out 200ms;
}

img.header {
	height: 60px;
	transition: ease-in 300ms;
}

ul.menu-principal {
	display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}


ul.menu-principal li {
	list-style: none;
	margin: 0px 3px;
}

ul.menu-principal li a {
	color: #003c68;
	font-size: 15px;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: ease-in 150ms;
}

ul.menu-principal li a:hover {
	font-size: 16px;
	background: rgb(31,211,211);
	background: linear-gradient(90deg, rgba(31,211,211,1) 0%, rgba(43,148,158,1) 100%);
	color: white;
	cursor: pointer;
}

#menu-sidebar {
	opacity: 0;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}

#menu-sidebar li {
	list-style: none;
    margin: 15px 0px;
    border-bottom: 1px solid rgb(55 227 227);
    padding: 12px 0px;
}

#menu-sidebar li a {
	color: #fff;
	width: 100%;
	font-family: 'Arial';
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    margin-left: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: ease-in 150ms;
}

#menu-sidebar li a:active {
	background: #fff;
	color: rgb(31,211,211);
	cursor: pointer;
}


main {
	padding-top: 70px;
	width: 100%;
}

.banner {
	width: 100%;
    height: 620px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: ease-in 400ms;
}

.banner:hover {
      transform: scale(1.02);
}

h1.title {
	font-size: 28px;
	color: #01426A;
	font-weight: 100;
	margin: 15px 0px;
	margin-top: 50px;
}

p {
	color: #777777;
    font-size: 15px;
    margin: 0;
}

section {
	padding: 80px 30px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	max-width: 1290px;
}

img.main {
	width: 100%;
}

/* Rodapé */

#footer {
	background: #23517E url(img/rodape-background.png);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 140px;
	width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#logo-footer {
	height: 100px;
	margin-right: 70px;
	-webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
  	transition: ease-in 200ms;
}

#logo-footer:hover {
	height: 105px;
}

.endereco_footer {
    border-right: 2px solid #fff;
    width: 300px;
    height: 180px;
    padding: 0px 0px 10px;
    min-height: 162px;
    margin-right: 60px;
}

.bloco_footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.endereco_footer p {
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    font-size: 10px;
    line-height: 15px;
}

.block_endereco {
    margin: 10px 0px;
}

.container-redes {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-start;
	justify-content: center;
	-webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}

a.rede-social {
	display: flex;
    height: 40px;
    margin: 0px 3px;
    padding: 10px;
	border-radius: 20px;
	background: rgb(31,211,211);
	background: linear-gradient(90deg, rgba(31,211,211,1) 0%, rgba(43,148,158,1) 100%);
}

a.rede-social:hover{
	background: linear-gradient(90deg, rgba(43,148,158,1) 0%, rgba(31,211,211,1) 100%);
}

a.rede-social:active{
	background: linear-gradient(90deg, rgba(43,148,158,1) 0%, rgba(31,211,211,1) 100%);
	padding: 11px;
}

img.rede-social {
	filter: invert(1) brightness(2) grayscale(1) contrast(2);
}

/* Algumas Responsividades */

@media (min-width: 1200px) {
	.container {
	    max-width: 1140px;
	}
}

@media (min-width: 992px) {
	.container {
	    max-width: 960px;
	}
	section {
		padding: 80px 50px;
	}
}

@media (min-width: 768px) {
	.container {
	    max-width: 720px;
	}
}

@media (min-width: 576px) {
	.container {
	    max-width: 540px;
	}
}

/* Mobile */

@media (max-width: 920px) {

	header {
		justify-content: flex-start;
	}

	img.header {
		margin: 0px auto;
    	transform: translateX(-40px);
	}

	div.sidebaricon-div {
		display: flex;
	}

	ul.menu-principal {
	    display: none;
	}

	.banner {
		height: 400px;
	}

	h1.title {
		font-size: 20px;
	}

	#footer {
		flex-direction: column;
	}

	#logo-footer {
		margin-right: 0px;
	}

	.endereco_footer {
		width: auto;
		height: auto;
		border: none;
		margin-right: 0px;
		padding: 20px;
	}

	.container-redes {
		align-self: center;
	}
}

